-i https://pypi.org/simple
asgiref==3.11.1; python_version >= '3.9'
attrs==26.1.0; python_version >= '3.9'
django==6.0.6; python_version >= '3.12'
django-debug-toolbar==7.0.0; python_version >= '3.10'
djangorestframework==3.17.1; python_version >= '3.10'
djangorestframework-simplejwt==5.5.1; python_version >= '3.9'
drf-spectacular==0.29.0; python_version >= '3.7'
inflection==0.5.1; python_version >= '3.5'
jsonschema==4.26.0; python_version >= '3.10'
jsonschema-specifications==2025.9.1; python_version >= '3.9'
mysqlclient==2.2.8; python_version >= '3.10'
numpy==2.5.0; python_version >= '3.12'
opencv-python==5.0.0.93; python_version >= '3.6'
pillow==12.3.0; python_version >= '3.10'
pyjwt==2.13.0; python_version >= '3.9'
pyyaml==6.0.3; python_version >= '3.8'
referencing==0.37.0; python_version >= '3.10'
rpds-py==2026.6.3; python_version >= '3.11'
sqlparse==0.5.5; python_version >= '3.8'
tzdata==2026.2; python_version >= '2'
uritemplate==4.2.0; python_version >= '3.9'
